/* src/styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lato", "Helvetica Neue", helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: black;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}
.anime {
  position: relative;
  overflow: hidden;
}

.anime-container {
  overflow: auto; /* Enable scrolling for the container */
  display: flex;
  /* width: calc(100% - 80px); Adjust for button width */
  height: 100%;
}

.anime-container::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.overlay:hover .animeDesc{
  display: none;
}

.gradient{
  background-image: linear-gradient(to top, rgb(31,55,66) , black);
}

.verticalfade{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0,0,0,1), rgba(0,0,0,1));
}

.horizontalfade{
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0,0,0,0.8));
}
